<!--Single Page Footer Start-->
<div class="page-footer dark" data-bg-color="#212121" data-image-src="{{ "/images/upload/footer-bg-image.jpg" | prepend: site.baseurl }}">
	<div class="fit-screen-wrap">
        <div class="container">
            <div class="page-footer-wrap">
                
                <div data-height="30"></div>
                
                <!--Footer Logo-->
                <div class="footer-logo animate-fadeIn">
                    <a href="/"><img src="{{ "/images/birds_icon.png" | prepend: site.baseurl }}" alt="footer logo" /></a>
                </div>
                
                <div data-height="80"></div>
                
                <!--Footer Description-->
                <div class="footer-description animate-fadeIn">
                    HoneyMoon à <span data-color="#00acc1">San Francisco</span>
                </div>
                <div data-height="35"></div>
                <div class="footer-subdescription animate-fadeIn">
                    Le bonheur à l'état brut d'Alexandra et Christophe. Tout simplement.
                </div>
                
                <div data-height="80"></div>
                
                <div class="animate-fadeIn">
                
                    
                    <!--Copyright-->
                    <div class="copyright">
                        Ce site a été réalisé par <a href="http://christophe.robillard.pro">CR Web</a>.
                    </div>
                
                </div>
            
            </div>
        </div>
    </div>
    <div class="overlay" data-bg-color="#313131" data-opacity="0.9"></div>
</div>
<!--Single Page Footer End-->