<!--jQuery files-->
<script type="text/javascript" src="{{ "/js/vendor/jquery-1.11.1.min.js" | prepend: site.baseurl }}" ></script>
<script type="text/javascript" src="{{ "/js/vendor/jquery.easings.min.js" | prepend: site.baseurl }}" ></script>
<script type="text/javascript" src="{{ "/js/vendor/jquery.slimscroll.min.js" | prepend: site.baseurl }}" ></script>
<script type="text/javascript" src="{{ "/js/jquery.viewport.js" | prepend: site.baseurl }}" ></script>

<!--jQuery Retina-->
<script type="text/javascript" src="{{ "/js/retina.js" | prepend: site.baseurl }}" ></script>

<!--jQuery Sidebar-->
<script type="text/javascript" src="{{ "/js/jquery.sidebar.min.js" | prepend: site.baseurl }}" ></script>

<!--jQuery OWL-Carousel-->
<script type="text/javascript" src="{{ "/bower_components/owl.carousel/owl.carousel.min.js" | prepend: site.baseurl }}" ></script>

<!--jQuery FlexSlider-->
<script type="text/javascript" src="{{ "/bower_components/FlexSlider/jquery.flexslider.js" | prepend: site.baseurl }}" ></script>

<!--jQuery Megafolio-->
<script type="text/javascript" src="{{ "/bower_components/megafolio/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}" ></script>
<script type="text/javascript" src="{{ "/bower_components/megafolio/js/jquery.themepunch.megafoliopro.js" | prepend: site.baseurl }}" ></script>

<!--jQuery FancyBox-->
<script type="text/javascript" src="{{ "/bower_components/fancybox/jquery.fancybox.pack.js?v=2.1.5" | prepend: site.baseurl }}" ></script>

<!--jQuery Fullpage-->
<script type="text/javascript" src="{{ "/js/jquery.fullPage.min.js" | prepend: site.baseurl }}" ></script>

<!--jQuery Midnight-->
<script type="text/javascript" src="{{ "/js/midnight.jquery.min.js" | prepend: site.baseurl }}" ></script>

<!--jQuery Tooltips-->
<script type="text/javascript" src="{{ "/bower_components/tooltipster/js/jquery.tooltipster.min.js" | prepend: site.baseurl }}" ></script>

<!--jQuery Tabulous-->
<script type="text/javascript" src="{{ "/bower_components/tabulous/tabulous.js" | prepend: site.baseurl }}" ></script>

<!--Custom js file-->
<script type="text/javascript" src="{{ "/js/custom.js" | prepend: site.baseurl }}" ></script>